# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl

# Paquetes de Lambda
*.zip

# IDE / Editor
.vscode/
*.code-workspace

# Sistema
.DS_Store
Thumbs.db
